@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* standard nedan så att webbläsaren inte tar över */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color: ECE2D0;
  --header-textcolor: 23395B;
  --beige-box-color1: rgb(211, 165, 136);
  --pink-box-color2: rgb(189, 79, 108);
  --white-box-color3: rgb(236, 226, 208);
  --blue-box-color4: rgb(35, 57, 91);
  --green-box-color5: rgb(97, 137, 133);
  --box-shadow: rgb(, 196, 196);
  --standard-font: "Montserrat", sans-serif;
  --standard-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  background-color: var(--white-box-color3);
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

h1 {
  color: var(--beige-box-color1);
  font-weight: bolder;
  font-family: "Poppins";
  font-weight: normal;
}

h2 {
  color: var(--beige-box-color1);
  font-family: "Poppins";
  font-weight: normal;
}

.page-header {
  background-color: var(--green-box-color5);
  color: var(--header-textcolor);
  padding: 20px;
  font-family: var(--standard-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border-style: inherit;
  border-width: 8px;
  margin: 4px;
  box-shadow: var(--standard-box-shadow);
}

.header-menu-list {
  list-style: none;

  & li {
    margin-bottom: 2px;
  }

  & a {
    color: var(--beige-box-color1);
    font-family: "Poppins";
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: var(--pink-box-color2);
    }
  }
}

.icons-on-header{
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  max-width: 500px;
}

.header-icon{
   color: var(--beige-box-color1);
  display: flex;
  &:hover {
    color: var(--pink-box-color2);
  }
}



.grid {
  padding: 8px;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column-3 {
  padding: 20px;
  max-width: calc(25% - 4px);
  width: calc(25% - 4px);
  margin-bottom: 4px;
  border-radius: 10px;
  border-style: inherit;
  border-width: 8px;
  box-shadow: var(--standard-box-shadow);
  align-items: center;
}
.column-A {
  background-color: var(--green-box-color5);
}

.column-B {
  background-color: var(--pink-box-color2);
}
.column-C {
  background-color: var(--blue-box-color4);

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.column-D {
  background-color: var(--pink-box-color2);
}

.span {
  color: var(--beige-box-color1);
  font-size: large;
  font-weight:normal;
   font-family: "Poppins";
}

.primary-button {
  text-decoration: none;
  border-radius: 5px;
  padding: 8px;

  box-shadow: grey;
  border: 4px;
  border-style: initial;
  border-color: rgb(47, 32, 12);
  background-color: var(--beige-box-color1);
  font-size: 15px;
  color: rgb(40, 35, 35);

  font-family: var(--standard-font);
  font-weight: 500;
  display: flex;
  box-shadow: var(--standard-box-shadow);
  margin-bottom: 8px;
  &:hover {
    color: grey;
    background-color: var(--blue-box-color4);
  }
}

.image {
  width: 80%;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border-style: hidden;
  border-color: var(--blue-box-color4);
}

.grid-2 {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box-1 {
  background-color: var(--green-box-color5);
  padding: 20px;
  margin-bottom: 4px;
  border-radius: 10px;
  border-style: inherit;
  border-width: 8px;
  box-shadow: var(--standard-box-shadow);
  height: calc(25% -4px);
}

.box-2 {
  background-color: var(--green-box-color5);
  padding: 20px;
  margin-bottom: 4px;
  border-radius: 10px;
  border-style: inherit;
  border-width: 8px;
  box-shadow: var(--standard-box-shadow);
  height: calc(75% -4px);
}

.page-footer {
  font-size: xx-small;
  color: var(--green-box-color5);
  display: inline-flex;
  padding: 8px;
}
/* Text-decoration ta bort länk steck tex */

.spray-can-position {
  display: flex;
  flex-direction:column-reverse;
  justify-content: space-around;
  align-items:flex-start;
  flex-wrap: nowrap;
}
.bx-spray-can {
  color: var(--beige-box-color1);
  font-size: 100px;
  &:hover {
    color: var(--pink-box-color2);
  }
  padding-top: 16px;
}

.beige {
  background-color: var(--beige-box-color1);
}

.pink {
  background-color: var(--pink-box-color1);
}
.blue {
  background-color: var(--blue-box-color1);
}
.green {
  background-color: var(--green-box-color1);
}


.hamburger-svg {

  display: none;
  
    fill: var(--beige-box-color1);
  
}

@media (max-width:600px) {
  .header-menu-list{
    display: none;
  }
  .icons-on-header{
    display: none;
  }
  .hamburger-svg{
    display: inline-block;
  }
}

.contactform{
  display: none;
}