body{
    background-color: bisque;
border: 0cqmax;
}

p {
    background-color: darkseagreen;
    color: bisque;
    font-size: 50px;
}

h1{
    color: rgb(100, 182, 215);
    background-color: bisque;
}
h2{
    color: palevioletred;
    background-color: bisque;
}

ol{
    color: cornflowerblue;
    background-color: lightblue;
}